/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */



.demo-section {
	margin: 30px 0;
}

section {
  margin: 30px 0;
}
section > .row {
  margin-bottom: 10px;
}

#link-nav, #action-nav {
  z-index: 1; 
  position: relative;
}

#link-nav {
  background: white;
  font: 12px/14px arial,helvetica,sans-serrif;
  height: 14px;
  vertical-align: middle;
  text-align: right;
  background-color: #2D2D2D;
  padding: 3px 0;
}

#link-nav a{
  margin:0 10px;
  color:#fff;
}

#action-nav {
  height:55px;
  background-image: linear-gradient(bottom, rgb(166,166,166) 8%, rgb(191,191,191) 54%);
  background-image: -o-linear-gradient(bottom, rgb(166,166,166) 8%, rgb(191,191,191) 54%);
  background-image: -moz-linear-gradient(bottom, rgb(166,166,166) 8%, rgb(191,191,191) 54%);
  background-image: -webkit-linear-gradient(bottom, rgb(166,166,166) 8%, rgb(191,191,191) 54%);
  background-image: -ms-linear-gradient(bottom, rgb(166,166,166) 8%, rgb(191,191,191) 54%);
  color:#888;
}
#action-nav form{
  margin: 12px auto;
  display: block;
  width: 550px;
}

#nav-search{
  height:55px;
  float:left;
  width:700px;
}

#nav-logo {
  background-color: rgb(166,52,42);
  background-image: linear-gradient(bottom, rgb(166,52,42) 8%, rgb(191,59,49) 54%);
  background-image: -o-linear-gradient(bottom, rgb(166,52,42) 8%, rgb(191,59,49) 54%);
  background-image: -moz-linear-gradient(bottom, rgb(166,52,42) 8%, rgb(191,59,49) 54%);
  background-image: -webkit-linear-gradient(bottom, rgb(166,52,42) 8%, rgb(191,59,49) 54%);
  background-image: -ms-linear-gradient(bottom, rgb(166,52,42) 8%, rgb(191,59,49) 54%);
  float: left;
  width: 140px;
  text-align: center;
  font-family: serif;
  height: 52px;
  vertical-align: middle;
  font: 48px/48px serif;
  color:#FFF;
  text-shadow:1px 1px 4px #8c2b24;
  border-top: 3px solid #DF9C20;
}

#footer-logo{
  float: left;
  width: 140px;
  text-align: center;
  font-family: serif;
  height: 52px;
  vertical-align: middle;
  font: 48px/48px serif;
  color:#FFF;
  text-shadow:1px 1px 4px #808080;
}


#nav-logo a, #nav-logo a:hover, #nav-logo a:active, #nav-logo a:visited,
#footer-logo a, #footer-logo a:hover, #footer-logo a:active, #footer-logo a:visited{
  color: white;
  font: 48px/46px serif;
  text-decoration: none;
  display: block;
}

#nav-logo:hover {
  background-image:none;
}

#nav-logo:active {
  background-image:none;
  background-color:#8c2b24;
}

#nav-cart {
  height:55px;
  width:100px;
  float:left;
}

#nav-cart:hover{
  background-color:rgb(166,166,166);
}

#nav-cart a, #nav-cart a:hover, #nav-cart a:active, #nav-cart a:visited {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 1px #999;
  display: block;
  height: 25px;
  width: 30px;
  padding: 15px 25px 15px 45px;
  background: url('../img/shopping-cart.png') no-repeat 10px 14px transparent;
  text-decoration: none;
}


#category-nav {
  z-index: 0; 
  position: relative;
  height: 0;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

#categories-nav-tab {
  position: relative;
  z-index: -1;
  background: #808080;
  height: 300px;
  margin-top: -300px;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
}

#category-nav.show #categories-nav-tab {
  margin-top: 0;
}
#category-nav.show {
  height:300px;
}

#categories-nav-tab:hover {
  margin-top: -290px;
}

#close-category-nav {
  color: #eee;
  position: absolute;
  top: 2px;
  right: 8px;
}

#categories-nav-tab-pull{
  cursor: pointer;
  position: absolute;
  bottom: -25px;
  left: 50%;
  z-index: -1;
  height: 26px;
  background: #808080;
  width: 120px;
  color: #000;
  font-weight: bold;
  text-align: center;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
}

#category-nav-list {
  margin-top: 20px;
  width: 85%;
  margin: 0 auto;
  padding: 10px 20px;
  height: 85%;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  overflow: auto;
  background: #ddd;
}
#category-nav-list li {
  border-bottom: 1px solid #aaa;
  min-height: 30px;
  padding: 5px;
}

#pull-marker {
  height: 9px;
  width: 40px;
  margin: 0 auto;
}
#pull-marker li{
  height: 1px;
  margin-top: 1px;
  border: 1px solid #444;
  background: #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
}

.category-list .row {
  padding: 40px 0;
  margin-bottom: 20px;
  text-align: center;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
.category-list .thumbnail{
  border: 1px solid #ccc;
}
.category-list .row:hover {
  background: #eee;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
.category-list .row:hover .help-block {
  color: #333;
}
.category-list .row:hover .thumbnail {
  border: 1px solid #666;
}


/* Sticky Footer Action */
html, body {
height: 100%;
}
#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -300px;
}
footer, .push {
	height: 300px;
}

footer {
	background-color:rgb(191,191,191);
	border:none !important;
}

#footer-category-links, #footer-nav-links{
	width:249px;
	padding:0 50px;
	margin-left:50px;
	float:left;
	text-align:right;
	border-left:1px solid #808080;
}

#footer-category-links a, #footer-nav-links a{
	color:#fff;
}

header #action-nav, footer {
	background-color: #BFBFBF;
	box-shadow: 0 0 15px #000;
}









/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
